<h3 class="tituloSeccion">Carga tu imagen</h3>
<p>nota: la url de la imagen aparece comentada en la consola y se manda por mail al usuario</p>
<div class="fileLoaderContainer">
  <form method="post" class="fileLoaderForm" enctype="multipart/form-data">
    <label for="image_uploads">Elige una imagen (PNG, JPG)</label>
    <input
      type="file"
      id="image_uploads"
      name="image_uploads"
      accept=".jpg, .jpeg, .png"
    />
    <button
      class="btn__submit"
      type="submit"
      id="btn__fileUpload"
    >Upload</button>
  </form>
</div>