
    <form id="productForm">
        <input type="text" placeholder="title" id="title" name="title">
        <input type="number" placeholder="price" id="price" name="price">
        <input type="text" placeholder="thumbnail url" id="thumbnail" name="thumbnail">

        <button id="btn__submit">Add Product</button>
    </form>

    <script src="./js/index.js"></script>
