<div class="sectionContainer" id="sectionContainer">
    <h3 class="sectionTitle">Nuestros Productos</h3>
    <div id="cartProductSection">
        {{>productSection}}
    </div>
</div>
<div class="sectionContainer" id="sectionContainer">
    <h3 class="sectionTitle">Tipo de Usuario</h3>
    <div class="containerToggle">
        <div class="toggleUser">
            Usuario actual:
            <span id="currentUser">Normal</span>
        </div>
        <button id="btn__userType">Cambiar tipo</button>
    </div>

</div>
{{> form}}
<script src="/js/index.js"></script>