<button class="btn__submit" id="btn__createNewCart" onclick="createNewCart()">Crear nuevo carrito</button>
{{#if cartsIds.length}}
<div>Tu carrito actual:</div>
<div id="activeCart"></div>
<div>Carritos disponibles: </div>
<ul>
    {{#each cartsIds}}
      <li id="{{this}}">ID: {{this}}</li>
    {{/each}}
  </ul>
  <div class="contenedorInput">
    <label class="formLabel">Ingresa el id del carrito</label>
    <input
      class="formInput"
      type="text"
      placeholder="idCarrito"
      id="userCartId"
      name="userCartId"
    />
  </div>
  <button
    class="btn__submit"
    id="btn__changeCart"
    onclick="changeCartId()"
  >Cambiar carrito</button>
{{else}}
  <div id="activeCart"></div>
  <h3>actualmente no hay carritos en el sistema</h3>
{{/if}}