<div class="sectionContainer" id="sectionContainer">
  <h3 class="sectionTitle">Tu Carrito</h3>
  <div id="cartProductSection">
  </div>
</div>
<div class="sectionContainer" id="sectionContainer">
  <h3 class="sectionTitle">Carritos</h3>
  <div id="cartIdSection">
  </div>
</div>
<div class="sectionContainer" id="sectionContainer">
  <h3 class="sectionTitle">Eliminar Carrito</h3>
  <div id="removeCartSection">
  </div>
</div>
<script src="/js/cart.js"></script>