<div class="sectionContainer" id="sectionContainer">
  <h3 class="sectionTitle">Tu Carrito</h3>
  <div id="cartProductSection">
    {{>userForm}}
  </div>
</div>

<div class="sectionContainer" id="sectionContainer">
  <h3 class="sectionTitle">Tu Carrito</h3>
  <div id="cartProductSection">
    {{>productSection}}
  </div>
</div>
<script src="/js/cart.js"></script>