<div class="contenedorForm">
    <h3 class="tituloSeccion">Ingresar Producto</h3>
    <form id="productForm">
        <div class="contenedorInput">
            <label class="formLabel">Ingrese el nombre</label>
            <input class="formInput" type="text" placeholder="nombre" id="name" name="name">
        </div>
        <div class="contenedorInput">
            <label class="formLabel">Ingrese la descripción</label>
            <input class="formInput" type="text" placeholder="descripción" id="description" name="description">
        </div>
        <div class="contenedorInput">
            <label class="formLabel">Ingrese el código</label>
            <input class="formInput" type="text" placeholder="código" id="code" name="code">
        </div>
        <div class="contenedorInput">
            <label class="formLabel">Ingrese la url de la imágen</label>
            <input class="formInput" type="text" placeholder="url de imágen" id="thumbnail" name="thumbnail">
        </div>
        <div class="contenedorInput">
            <label class="formLabel">Ingrese el precio</label>
            <input class="formInput" type="number" placeholder="precio" id="price" name="price">
        </div>
        <div class="contenedorInput">
            <label class="formLabel">Ingrese el stock</label>
            <input class="formInput" type="number" placeholder="stock" id="stock" name="stock">
        </div>
        <input type="submit" class="btn__submit" value="Add Product">

    </form>
</div>