<nav>
    <ul class="navbar">
        <li class="nav_link"><a href="/">Inicio</a></li>
        <li class="nav_link"><a href="/cart">Carrito</a></li>
        <li class="nav_link"><a href="/login">Ingresar</a></li>
    </ul>
</nav>