<div class="sectionContainer" id="sectionContainer">
    <h3 class="sectionTitle">Ingreso</h3>
    <form id="form">
        <div class="contenedorInput">
            <label class="formLabel">
                Ingrese su usuario
            </label>
            <input class="formInput" type="text" placeholder="usuario" id="user" name="user">
        </div>
        <div class="contenedorInput">
            <label class="formLabel">
                Ingrese su contraseña
            </label>
            <input class="formInput" type="password" placeholder="contraseña" id="password" name="password">
        </div>
        <input type="submit" class="btn__submit" value="Ingresar">
    </form>

</div>