.accountInfo {
    display: flex;
    flex-direction: row;
    margin: 2em;

    &__edit {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.5em;
        cursor: pointer;
        margin-left: 4em;

        &--checkmark {
            color: green;
        }

        &--pencil {
            color: red;
        }
    }
}
