.accountInfo__menu {
    min-width: 20%;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    margin-top: 2em;

    & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        & li {
            min-width: 100%;
            align-self: center;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 1em;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                background-color: grey;
                color: white;
            }
        }
    }
}
