// db data
MONGO_USER = "root"
MONGO_PASS = "EYUU8mmwfh44bZks"
MONGO_SECRET = "topSecret"
DB_PRODUCTS = "products-mongodb"
DB_SESSIONS = "sessions-mongodb"
DB_USERS = "users-mongodb"
DB_CARTS="carts-mongodb"

//Site Admin
ADMIN = "lina.simonis10@ethereal.email"
PASS = "soyAdmin123"
HASHPASS = "$2a$10$ulEREVJgJZmKB3aLi5k4Ue.GdPDVrdI4/AOYB0AaU6VlF8.sdDb7W"

//Ethereal Admin
ADMIN_EMAIL = "lina.simonis10@ethereal.email"
ADMIN_PASS = "y9vgfr5KW3AS4UsPpJ"

//URLs
SEVER_URL = "http://localhost:8080"
CLIENT_URL = "http://localhost:3000"

TWILIO_ID="AC334a57183d647cb64ef87e32f847550e"
TWILIO_TOKEN="00214bf47aa51a40e0418c33ffcc80bb"
TWILIO_SMS_NUMBER="+13024046223"
TWILIO_WHATSAPP_NUMBER="+13024046223"




