<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>Socketsio</title>
</head>

<body>
    <!-- <p id="papaFrita"></p> -->
    <h2>SOCKETS!</h2>
    <!-- <button id="btn__ping">Ping</button> -->
    <label>Autor: </label>
    <input type="text" id="in__autor"><br>
    <label>Texto: </label>
    <input type="text" id="in__texto"><br>
    <button id="btn__enviar">Enviar</button>
    <div id="mensajes"></div>
</body>

<script src="js/index.js"></script>

</html>