.editForm {
    min-width: 100%;
    margin-top: 2em;
    background-color: rgb(217, 233, 231);
    table-layout: fixed;

    & thead {
        display: table-header-group;
        background-color: rgb(18, 103, 93);
        color: white;
        align-items: center;
    }
    &__header {
        justify-content: space-evenly;
        align-items: center;

        & th {
            padding-bottom: 0.5em;
            padding-top: 0.5em;
        }
    }
}

.btn__submit {
    max-width: fit-content;
    align-self: center;
    font: size 0.8em;
    margin: 1em;
    letter-spacing: 0.1em;
    padding: 1em;
    cursor: pointer;
    background-color: rgb(112, 156, 155);
    color: white;
    border: none;
    text-transform: uppercase;

    &:hover {
        color: rgb(42, 109, 108);
        background-color: rgb(181, 232, 232);
    }
}

.btns_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formLabel {
    margin-right: 1.5em;
}
