.accountInfo__userInfo {
    display: flex;
    flex-direction: row;
    min-width: 65%;
    background-color: rgb(214, 213, 213);
    height: 100%;
    text-align: left;

    &--leftElements{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 6em;


        & input{
        }
    }
    &--rightElements{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 6em;
        padding-bottom: 0.5em ;

        & input{
        }
    }
}
