<div class="sectionContainer" id="sectionContainer">
  <h3 class="sectionTitle">Programación Backend - CoderHouse</h3>
  <h2>Andrés Ezequiel Fabbiano</h2>
  <div id="fileLoader">
    {{>inputFile}}
  </div>
  <div id="globalChat">
    {{>chat}}
  </div>
  <div id="serverInfo">
    {{>info}}
  </div>
</div>
<script src="/js/index.js"></script>