{{#if cartsIds.length}}
  <div>Tu carrito actual:</div>
  <div id="activeCart2"></div>
    </div>
  <button
    class="btn__submit"
    id="btn__changeCart"
    onclick="removeCartById()"
  >Borrar carrito</button>
{{else}}
  <div id="activeCart2"></div>
  <h3>actualmente no hay carritos en el sistema</h3>
{{/if}}