.banner {
    background-image: url("../../assets/img/cocina.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 13em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    & h1 {
        font-size: 1.7em;
        text-shadow: 0.2em black;
        letter-spacing: 0.2em;
        font-weight: 400;
    }
    & button {
        background-color: rgb(112, 156, 155);
        color: white;
        border: none;
        cursor: pointer;
        padding: 1em;
        text-transform: uppercase;
        font: size 0.8em;
        margin-top: 1em;
        letter-spacing: 0.1em;
        &:hover {
            color:  rgb(78, 113, 112);
            background-color: rgb(181, 232, 232);
        }
    }
}
