 
  #productForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(5, 5, 52);
    width: 70%;
    border-radius: 5px;
  }
  