{{#if products.length}}
<h3 class="tituloSeccion">Productos</h3>
<table class="productTable">
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imágen</th>
    </tr>
    {{#each products}}
    <tr>
        <td>
            {{this.title}}
        </td>
        <td>
            {{this.price}}
        </td>
        <td>
            {{this.thumbnail}}
        </td>
    </tr>
    {{/each}}
</table>
{{else}}
<h3>no hay productos en el sistema actualmente...</h3>
{{/if}}