.productDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    max-width: 50%;
    align-self: center;
}
