.productDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    min-width: 50%;
    align-self: center;

    &__description {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-self: flex-start;
        &--title {
            margin: 1em;
            font-size: 1.5em;
            font-weight: 500;
        }

        &--price {
            justify-self: flex-end;
        }
    }
}
