#productTable {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    //background-color: rgba(167, 194, 218, 0.057);
    align-items: left;
    text-align: center;
    padding: 1.5rem;
    color: white;
  }